@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.home {
  display: flex;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(images/simple-pattern-with-css3.png);
}

.fade-in-image {
  animation: fadeIn 5s;
  text-align: center;
  height: 500px;
  width: 500px;
  /* margin-left: 120px; */
  margin-top: 40px;
  display: flex;
  padding-top: 40px;
  align-items: center;
  justify-content: center;

  justify-items: center;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
.boxes {
  font-family: Montserrat;
  text-align: center;
  color: #0049b7;
  font-size: 34px;
  margin-top: 30px;
  overflow: hidden;
}
.text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.text:first-of-type {
  animation: appear 6s infinite;
}
.text:last-of-type {
  animation: reveal 6s infinite;
}
.text:last-of-type span {
  font-size: 33px;
  color: #ff1d58;
  animation: slide 6s infinite;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    margin-left: -1000px;
  }
  20% {
    margin-left: -1000px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 500px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 500px;
  }
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  z-index: 1;
  font-family: "Ubuntu", sans-serif;
}
.navbar .logo a {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .menu{
    margin-left: 100px;
} */
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.navbar .logo a span {
  color: crimson;
  transition: all 0.3 ease;
}
.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 35px;
  transition: color 0.3 ease;
}
.navbar .menu li a:hover {
  color: crimson;
}
.navbar.sticky .menu li a:hover {
  color: #fff;
}
.navbar.sticky .logo a span {
  color: #fff;
}
.navbar.sticky {
  padding: 20px 0;
  background: crimson;
}

/* CSS */
.button-24 {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  margin-left: 20px;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #fff;
}

.button-24:active {
  opacity: 0.5;
}
.home {
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(images/simple-pattern-with-css3.png);
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: crimson;
  font-weight: 500;
}
@media (max-width: 917px) {
    .fade-in-image {
        margin-left: 0;
    }
    .home {
        height: 100vh;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(images/simple-pattern-with-css3.png);
      }
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .max-width {
    padding: 0 50px;
  }
  .navbar .menu {
    position: fixed;
    width: 100%;
    left: -100%;
    top: 0;
    height: 300vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/simple-pattern-with-css3.png);
    text-align: center;
    padding-top: 80px;
    /* background-color: #111; */
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 40px 0;
    font-size: 50px;
  }
  .button-24 {
    display: inline-block;
    margin: 40px 0;
    font-size: 50px;
  }
}
